@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

div{
    width: 200px;
    height: 200px;
    background-color: #ffc2c2;
    font-size: 32px;
    text-align: center;
    /* 줄간격이 높이 값과 같으면 글자가 세로 중앙으로 간다. */
    line-height: 200px;
    margin: 40px;
    /* 테두리 두께 */
    border-width: 10px;
    /* 테두리 색상 */
    border-color: cadetblue;
}

.box1{
    /* 기본값, 테두리 없음 */
    border: none;
}
.box2{
    /* 테두리 숨김 */
    border: hidden;
}
.box3{
    /* 실선 점선 */
    border-style: dashed;
}
.box4{
    /* 도트 점선 */
    border-style: dotted;
}
.box5{
    /* 이중 실선 */
    border-style: double;
}
.box6{
    /* 입체적으로 표시 */
    border-style: groove;
    border-color: darkgray;
}
.box7{
    /* 안쪽으로 굵게 */
    border-style: inset;
    border-color: grey;
}
.box8{
    /* 바깥쪽으로 굵게 */
    border-style: outset;
    border-color: grey;
}
.box9{
    /* 튀어나오는 것처럼 표시 */
    border-style: ridge;
    border-color: grey;
}
.box10{
    /* 실선 */
    border-style: solid;
}
.box11{
    /* 박스 사방에 동일한 테두리 */
    border: 10px solid orange;
}
.box12{
    /* 박스의 일부분에 테두리 적용 */
    border-top: 15px dashed blueviolet;
    border-right: 20px dotted blue;
    border-left: 13px double #4bff96;
    border-bottom: 15px ridge #3bc1ff;
}
.box13{
    border-top: 20px dashed rgb(63, 34, 90);
    border-left: 20px double rgb(63, 34, 90);
    border-right: 20px groove rgb(63, 34, 90);
    border-bottom: 20px ridge rgb(63, 34, 90);
}