@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

div{
    width: 300px; 
    height: 300px; 
    font-size: 30px;
}

.box1{
    background-color: yellowgreen; /* 배경색*/
    margin: 40px; /*바깥 여백*/
    padding: 20px; /*안쪽 여백*/
}

.box2{
    background-color: pink;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 40px;
    padding-bottom: 30px;
    margin-bottom: 40px;
}

.box3{
    background: #2e8f6a;
    padding: 20px 30px 40px 50px;
    margin: 30px 40px;
}