@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

.container{
    width: 700px;
    height: 700px;
    background-color: rgb(95, 158, 160, 0.5);
    margin: 50px auto;
    /* flex는 반드시 부모박스에 적용 */
    display: flex;
    gap: 20px;
    /* row-gap: 20px; */
    /* column-gap: 20px; */
    /* 하위 정렬 속성 */
    flex-wrap: wrap;
    align-content: flex-start;
    align-content: flex-end;
    align-content: center;
    align-content: space-between;
    align-content: space-around;
    align-content: space-evenly;
    align-content: stretch;
}

div{
    width: 100px;
    /* height: 100px; */
    line-height: 100px;
    text-align: center;
}

.box1{
    background-color: #ffc2c2;
}
.box2{
    background-color: #faf395;
}
.box3{
    background-color: #64e279;
}
.box4{
    background-color: #5fcabc;
}
.box5{
    background-color: #c25dd6;
}
