@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
}
input {
  outline: none;
}
/* 로그인 전체창 */
.log_in {
  margin: 0 auto;
  width: 458px;
  height: 308px;
  position: relative;
}

.main_box {
  width: 458px;
  height: 255px;
  background-color: #fff;
  padding: 20px 24px;
  border: 1px solid #c6c6c6;
  border-radius: 0 6px 6px 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
  top: -8px;
  z-index: 3;
}
.main_box input[type="text"] {
  display: table-cell;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  border: transparent;
}
.main_box input[type="password"] {
  display: table-cell;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  border: transparent;
}

.id_pw_wrap {
  display: block;
  width: 410px;
  height: 95px;
}
/* 상단 로그인 */
.sel {
  width: 458px;
  height: 60px;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  position: relative;
  text-align: center;
}
.sel li {
  display: table-cell;
  position: relative;
}
.sel li .sel01 {
  height: 61px;
  padding-top: 17px;
  border-radius: 6px 6px 0 0;
  border: 1px solid #c6c6c6;
  border-bottom: 0;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 5;
  position: relative;
}
.sel li .sel02 {
  height: 61px;
  padding-top: 17px;
  border-radius: 0 0px 0 0;
  border: 1px solid #e3e3e3;
  border-bottom: 0;
  background-color: #f8f9fa;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}
.sel li .sel03 {
  height: 61px;
  padding-top: 17px;
  border-radius: 0 6px 0 0;
  border: 1px solid #e3e3e3;
  border-left: 0;
  border-bottom: 0;
  background-color: #f8f9fa;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}
.sel span {
  padding-left: 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.5px;
  background-color: #fff;
  color: black;
  vertical-align: middle;
  position: relative;
}
.sel02 span,
.sel03 span {
  background-color: #f8f9fa;
}
.sel span::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(/web18/img/icon.png);
  background-size: 290px 275px;
  background-position: -192px -255px;
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
  top: 3px;
}
.sel01::after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  right: -8px;
  background-image: url(/web18/img/icon.png);
  background-size: 290px 275px;
  background-position: -225px 0;
  background-repeat: no-repeat;
  width: 15px;
  height: 62px;
  z-index: 5;
}
/* 아이디 */
.id_box {
  width: 100%;
  border: 1px solid #c6c6c6;
  border-bottom: 0;
  border-radius: 6px 6px 0 0;
  display: table;
  table-layout: fixed;
  padding: 14px;
  box-sizing: border-box;
}
.icon {
  width: 16px;
  height: 16px;
  display: table-cell;
  vertical-align: middle;
}
.icon > img {
  display: block;
  width: 16px;
  height: 16px;
  display: table-cell;
}
.id_box input,
.pw_box input {
  padding-left: 10px;
}

.id_box input[type="checkbox"] {
  outline: none;
  border-radius: 5px;
}
/* 패스워드 */
.pw_box {
  width: 100%;
  border: 1px solid #c6c6c6;
  border-radius: 0 0 6px 6px;
  display: table;
  table-layout: fixed;
  padding: 14px;
  box-sizing: border-box;
}
/* 체크박스 */
.check_box {
  width: 410px;
  height: 17px;
  margin-top: 14px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
input[type="checkbox"] {
  display: inline-block;
}
.check_box p {
  line-height: 17px;
  display: inline-block;
}
/* 로그인 버튼 */
.com_box {
  margin-top: 38px;
}
.btn_login {
  display: block;
  width: 100%;
  padding: 13px 0 13px;
  border-radius: 6px;
  border: solid 1px rgba(0, 0, 0, 0.15);
  background-color: #09aa5c;
  box-sizing: border-box;
}
.button_text {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}
