@charset "utf-8";  /* 언어 인코딩 모듈 */

/*주석내용*/
/* 
css란?
: html구조에 디자인을 입히는 언어. 
Cascading Style Sheets의 약자로 '위에서 아래로 흐르는 디자인 시트'라는 의미.
웹 문서에서 글꼴이나 색상, 정렬, 요소의 배치 등 겉모습을 결정짓는 디자인 언어.
css의 가장 큰 특징은, 위에서 아래로 속성을 하나씩 적용할때 동일한 속성이 있으면
아래에 있는 속성을 먼저 적용한다는 것이다.

-------------------

1. '내부 스타일 시트'
: 내부 스타일 시트는 html 문서 안에 <style>태그를 이용해 css를 문서 내부에 작성하는 방법을 말한다.
외부 스타일 시트보다 우선 순위가 높지만, html에 css 속성들이 너무 많이 작성되어 파일 길이가 길어지면
유지보수가 더 어려워지기 때문에 외부 스타일 시트를 주로 사용한다.

2. '외부 스타일 시트'
: 외부 스타일 시트는 css 라는 폴더를 만들어 그 안에 파일을 따로 관리하는 것을 말한다.
외부 스타일 시트로 관리하면 관련된 파일을 찾기 편리하고, 유지보수에 훨씬 용이하다는 장점이 있다.
대신, 내부 스타일 시트에 비해 우선순위가 낮다.

3. '인라인 스타일 시트'
: 태그에 style 이라는 속성으로 직접적으로 스타일을 적용하는 방식을 말한다.
내부 스타일 시트보다 우선순위가 높아 태그에 직접 적용한 스타일이 절대적으로 적용된다.
인라인 시트는 가독성이 떨어지고 우선순위가 높아서 수정하기가 어려우므로 잘 사용되지 않는다.

4. '브라우저 기본 스타일 시트'
: 브라우저 기본 스타일 시트는 브라우저에 기본적으로 내장되어있는 스타일 시트를 말한다.
h1 이나, ul, li 등 태그를 출력했을 때 보이는 이 특징들ㅇ느 모두 브라우저 안에 있는 기본
스타일 시트가 적용되어 보이는 디자인이다.
보통 웹페이지를 만들때에는 브라우저 기본 스타일 시트를 '초기화'하여 사용한다.

5. !important
: 특정 속성의 속성값 뒤에 선언하여 사용한다. 어떤 스타일시트 또는 어떤 선택자보다도 우선 순위가 가장 높다.
important 가 적용된 속성은 다시 수정 할 수 없으며, 강제로 해당 속성을 적용한다.
즉, 유지보수가 어렵기 때문에 조심히 사용해야 하는 속성.
<기본형> 선택자{속성명: 속성값 !important;}


-------------------

           ↗ 브라우저 스타일 시트
'스타일시트'                     ↗ 인라인 스타일 시트 (우선순위 1)
           ↘ 사용자 스타일 시트  →  내부 스타일 시트  (우선순위 2)
                                ↘ 외부 스타일 시트   (우선순위 3)



css 기본문법

<기본형>
선택자{
    속성명1 : 속성값1;
    속성명2 : 속성값2;
    속성명3 : 속성값3;
}

*/
/* 전체선택자 *  */
*{
    margin: 0; /* 바깥쪽 여백 */
    padding: 0; /* 안쪽 여백 */
}

/* 태그명 선택자 */
body{color: rgb(83, 67, 41);}

table{
    border: 4px solid rgb(255, 177, 74);
}
td{
    border: 4px solid rgb(68, 192, 116); 
}
th{
    border: 4px solid rgb(250, 146, 236); 
}

h1 {
    color: burlywood;
}

h2{color: blue;}

/* class 선택자 */
.title{color: darkgreen;}

/* id 선택자 */
#logo{color: blueviolet;}

/* 그룹 선택자 */
p,span{
    color: cornflowerblue;
}

/* -------------------- */
h3{color: #00ffff; 
    color: rgb(0, 0, 0); }
h4{
    font-family: Arial, Helvetica, sans-serif;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h5{

    font-size: 16px;    /* px : 고정단위 */
    font-size: 1em;    /* em : 상대단위(1em = 16px) */
    font-size: 3vw;    /* vw : 상대단위(뷰포트 기준) */
}

h6{
    font-style: italic;
    font-style: oblique;
}
