@charset "utf-8";

/* 초기화 */
*{
    margin: 0;
    padding: 0;
}
a{
    /* 글자 꾸밈 : 없음 */
    text-decoration: none;
}
ul,li{
    /* 목록스타일(불릿, 들여쓰기) : 없음 */
    list-style: none;
}
image{
    /* 태그 속성 변경 : 블록으로 */
    display: block;
}