@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

.content1{
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    box-sizing: border-box;
    margin: 10px;
    float: left;
}
.content2{
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    box-sizing: border-box;
    margin: 10px;
    float: left;
    overflow: auto;
}
.content3{
    width: 200px;
    /* height: 200px; */
    border: 2px solid #000;
    box-sizing: border-box;
    margin: 10px;
    float: left;
    overflow: hidden;
}
.content4{
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    box-sizing: border-box;
    margin: 10px;
    float: left;
    overflow: hidden;
}

